.jumbotron {
  /*background: #358CCE;*/
  
  background-color: #f0281d ;
  color: #FFF;
  border-radius: 0px;
  position: relative;
  z-index: 2;
}

.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px;
}

.jumbotron small {
  color: #FFF;
}

.header {
  height: 150px;
}

.card {
  position: relative;
  top: -185px;
  margin-bottom: 50px;
}

.cardStyle {
  position: relative;
  background-color: #fff;
  border: 1px solid rgb(221, 221, 221);
  margin-top: 20px;
  padding: 20px;
}

.cardStyle:before {
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  left: -30px;
  content: " ";
  display: block;
  /* z-index: 200; */
  
  background: url("http://al2015.gatesnotesazure.com/assets/media/images/top-shadow-left.png") no-repeat;
}

.cardStyle:after {
  position: absolute;
  height: 100%;
  width: 30px;
  top: 0;
  right: -30px;
  content: " ";
  display: block;
  /* z-index: 200; */
  
  background: url("http://al2015.gatesnotesazure.com/assets/media/images/top-shadow-right.png") no-repeat;
}

.h1 {
  color: #fff;
  font-size: 50px;
}

.h1 small {
  color: #ddd;
  font-size: 25px;
}

.h1,
.h3,
small,
label,
.modal-title {
  font-family: Lato;
  font-weight: 300;
}

label {
  color: #666;
  font-weight: 400;
}

.h1 .fa-envelope {
  font-size: 35px;
}

.btn-success {
  padding: 10px 25px;
}