
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #f0281d;
    border-color: #f0281d #f0281d #fff;
}
.nav-tabs {
    border-bottom: 1px solid #f0281d;
}
.nav-link,
.nav-link:hover{
    color: black;
}
.card-header {
    color: white;
    background: #f0281d;
    font-weight: 700;
}


/* Image carousel */

#image-carousel {
    height: 350px;
    border-radius: 0;
    overflow: hidden;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    position: relative;
}

#image-carousel:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#image-carousel .handle {
    width: 100%;
    height: 400%;
    border-radius: 0;
}

#image-carousel .handle .slide {
    float: left;
    position: relative;
    width: 100%;
    height: 25%;
    background-repeat: no-repeat;
    background-position: center center;
}
#image-carousel .handle .slide img{
    width: 100%;
    height: 100%;
}

#image-carousel .pagination {
    position: absolute;
    z-index: 1000;
    left: 5px;
    top: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: list-item;
}

#image-carousel .pagination li {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 3px;
    cursor: pointer;
}

#image-carousel .pagination li.active {
    background: #fff;
}
