.iphone {
    border-radius: 2rem;
    margin-top: 10px;
    background-color: #F4F4FB;
    height: 750px;
    width: 100%;
    box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    z-index: 2;
    transform: scale(0.8);
    transform-origin: top center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-summary {
    margin-left: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.order-summary>div {
    /* margin: 6px; */
}

.order-status {
    color: #338A9A;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.order-date {
    font-size: 1.8rem;
    font-weight: 700;
}

.order-day {
    color: #338A9A;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.back-btn {
    margin-right: 50px;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.back-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hero-img-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.hero-img-container::before {
    height: 20px;
    width: 20px;
    background-color: #f0281d;
    position: absolute;
    top: 25px;
    right: 150px;
    content: '';
    border-radius: 50%;
}

.arc {
    border: 1px solid #000;
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    padding: 0.5em;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    opacity: 0.4;
    position: absolute;
    transform: rotate(-40deg);
    left: -10px;
}

.pattern {
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8Y2lyY2xlIGN4PSc0JyBjeT0nNCcgcj0nNCcgZmlsbD0nYmxhY2snLz4KPC9zdmc+");
    opacity: 0.1;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: scale(1.2);
}

.triangle1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #f0281d transparent;
    position: absolute;
    top: 50px;
    left: 130px;
    transform: rotate(-45deg);
}

.hero-img {
    width: 80%;
}

.order-status-container {
    z-index: 3;
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.02), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.order-status-container::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #EAEBFF;
    opacity: 0.8;
    border-radius: 2px;
    top: 20px;
}

.status-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    padding-top: 20px;
}

.status-item>div {
    margin: 10px;
}

.status-circle {
    height: 20px;
    width: 20px;
    background-color: #f0281d;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 5;
    transition: all 0.2s;
    cursor: pointer;
}

.status-circle:hover {
    transform: scale(1.2);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.status-text {
    font-weight: 500;
}

.status-text span {
    display: block;
    text-align: center;
    padding: 2px;
}

.green {
    color: #338A9A;
}

.first::before {
    content: '';
    height: 4px;
    width: 70px;
    background-color: #f0281d;
    position: absolute;
    z-index: 4;
    top: 80px;
    left: 60px;
}

.second::before {
    content: '';
    height: 4px;
    width: 210px;
    background-color: #f0281d;
    position: absolute;
    z-index: 4;
    top: 80px;
    left: 100px;
    opacity: 0.2;
}

.order-details-container {
    position: relative;
    z-index: 6;
    height: 900px;
    background-color: #fd6016;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-top: 20px;
    transform: translateY(-45px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: default;
}

.odc-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cta-text {
    margin-top: 40px;
    margin-right: 25px;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.18);
}

.cta-button {
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #f0281d;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.05);
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
    }
}

.cta-button:focus {
    outline: none;
}

.order-details-container::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #EAEBFF;
    opacity: 0.8;
    border-radius: 2px;
    top: 20px;
    left: 150px;
}

.odc-wrapper {
    margin: 30px;
}

.odc-header-line {
    margin-top: 30px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.odc-header-details {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-container {
    background-color: #fd6f2d;
    border-radius: 20px;
    padding: 10px;
}

.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product span {
    display: block;
    color: white;
    margin-left: 25px;
    margin-bottom: 8px;
    flex-grow: 1;
}

.product span:first-child {
    font-weight: 800;
}

.product span:last-child {
    font-weight: 500;
    font-size: 1.3rem;
}

.img-photo {
    width: 90px;
    transform: rotate(-35deg)
}

.cancellation {
    margin-top: 20px;
    background-color:#fd6f2d;
    border-radius: 20px;
    padding: 30px 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.shipping-desc {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.shipping-address {
    margin-top: 20px;
    background-color:#fd6f2d;
    border-radius: 20px;
    padding: 20px 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;

}